__pycache__/
*.py[cod]
*.ipynb
*.rar
*.xlsx
*.pdf
DundaeCS.csv
EVCSNB_cleaned.csv
log/
data/
datasets/
MNIST/
Saqib_EV.ipynb
Tetuan*
NNexample.py
"just try mNISR.py"
Dundae.py
Dundae.xlsx
train.py
train_fl_pretext.py
clustering_train_fl_pretext.py
modified.py
main.py
output*.png
loss_ap.csv
cluster_loss.csv
final_station_clusters.csv
annual_total_kwh.csv
monthly_total_kwh.csv
small_evcs_dataset.csv
result/
graphs/
